body {
    font-family: 'Ubuntu Mono', monospace;
    letter-spacing: 1px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 20px;
}
.main * {
    align-self: center;
}
.main .output {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 65vh;
    width: 65vw;
    padding: 30px;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 18px;
    overflow-y: scroll;
}
.output p {
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}
.output div {
    margin: 0;
}
.output li {
    margin-bottom: 20px;
    list-style-type: none;
}
.output ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main .input {
    
}

.main input {
    min-width: 50vw;
    margin: 5px;
    padding: 10px;
    font-size: 18px;
}